#testimonial-guy, #what-people-are-saying .quote, #btn-our-process {
  opacity: 0; }

.hidden-step {
  display: none; }

body {
  font-family: "Noto Sans", sans-serif;
  text-align: left; }

h1, h2, h3, p {
  margin: 0; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

p {
  color: #333;
  line-height: 1.5em; }

a {
  color: #477DCA;
  text-decoration: none; }

.type {
  border-bottom: 2px solid;
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.7em;
  font-weight: 800;
  margin-bottom: 2em;
  padding: 0.1em 0;
  text-align: left;
  text-transform: uppercase; }

h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.9em;
  font-weight: 700;
  margin-bottom: 0.3em; }

h2 {
  font-family: "Radley", serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 0.9em; }

code {
  background: #F7F7F7;
  border-radius: 4.5px;
  border: 1px solid #E0E0E0;
  font-size: 0.75em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap; }

h2 code {
  font-size: 0.65em; }

h3 {
  font-family: "Radley", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em; }

p.date {
  color: rgba(51, 51, 51, 0.4);
  font-family: "Radley", serif;
  font-style: italic;
  margin-bottom: 0.3em; }

p {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 1;
  line-height: 1.55em;
  margin-bottom: 1.5em; }
  p.intro {
    font-size: 1.4rem;
    font-family: "Radley", serif; }
  p span {
    font-family: "Radley", serif;
    font-size: 1.2em;
    font-style: italic; }

a.read-more {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase; }
  a.read-more span {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    position: absolute;
    right: -12px;
    top: -1px; }

hr {
  width: 3em; }

p.author {
  font-family: "Radley", serif;
  font-size: 1.2em;
  font-style: italic; }

.debug {
  display: inline-block;
  background-color: purple;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  line-height: 40px;
  font-weight: bold;
  z-index: 9999;
  padding: 0 1rem;
  font-weight: bold; }
  @media only screen and (min-width: 300px) {
    .debug:before {
      content: "+grid-media($bp_300)"; } }
  @media only screen and (min-width: 400px) {
    .debug:before {
      content: "+grid-media($bp_400)"; } }
  @media only screen and (min-width: 500px) {
    .debug:before {
      content: "+grid-media($bp_500)"; } }
  @media only screen and (min-width: 600px) {
    .debug:before {
      content: "+grid-media($bp_600)"; } }
  @media only screen and (min-width: 700px) {
    .debug:before {
      content: "+grid-media($bp_700)"; } }
  @media only screen and (min-width: 800px) {
    .debug:before {
      content: "+grid-media($bp_800)"; } }
  @media only screen and (min-width: 900px) {
    .debug:before {
      content: "+grid-media($bp_900)"; } }
  @media only screen and (min-width: 1000px) {
    .debug:before {
      content: "+grid-media($bp_1000)"; } }
  @media only screen and (min-width: 1100px) {
    .debug:before {
      content: "+grid-media($bp_1100)"; } }
  @media only screen and (min-width: 1200px) {
    .debug:before {
      content: "+grid-media($bp_1200)"; } }
  @media only screen and (min-width: 1300px) {
    .debug:before {
      content: "+grid-media($bp_1300)"; } }
  @media only screen and (min-width: 1400px) {
    .debug:before {
      content: "+grid-media($bp_1400)"; } }
  @media only screen and (min-width: 1500px) {
    .debug:before {
      content: "+grid-media($bp_1500)"; } }
  @media only screen and (min-width: 1600px) {
    .debug:before {
      content: "+grid-media($bp_1600)"; } }
  @media only screen and (min-width: 1700px) {
    .debug:before {
      content: "+grid-media($bp_1700)"; } }
  @media only screen and (min-width: 1800px) {
    .debug:before {
      content: "+grid-media($bp_1800)"; } }
  @media only screen and (min-width: 1900px) {
    .debug:before {
      content: "+grid-media($bp_1900)"; } }
  @media only screen and (min-width: 2000px) {
    .debug:before {
      content: "+grid-media($bp_2000)"; } }
  @media only screen and (min-width: 2100px) {
    .debug:before {
      content: "+grid-media($bp_2100)"; } }
  @media only screen and (min-width: 2200px) {
    .debug:before {
      content: "+grid-media($bp_2200)"; } }
  @media only screen and (min-width: 2300px) {
    .debug:before {
      content: "+grid-media($bp_2300)"; } }
  @media only screen and (min-width: 2400px) {
    .debug:before {
      content: "+grid-media($bp_2400)"; } }
  @media only screen and (min-width: 2500px) {
    .debug:before {
      content: "+grid-media($bp_2500)"; } }
  @media only screen and (min-width: 2600px) {
    .debug:before {
      content: "+grid-media($bp_2600)"; } }
  @media only screen and (min-width: 2700px) {
    .debug:before {
      content: "+grid-media($bp_2700)"; } }
  @media only screen and (min-width: 2800px) {
    .debug:before {
      content: "+grid-media($bp_2800)"; } }
  @media only screen and (min-width: 2900px) {
    .debug:before {
      content: "+grid-media($bp_2900)"; } }
  @media only screen and (min-width: 3000px) {
    .debug:before {
      content: "+grid-media($bp_3000)"; } }
  @media only screen and (min-width: 3100px) {
    .debug:before {
      content: "+grid-media($bp_3100)"; } }
  @media only screen and (min-width: 3200px) {
    .debug:before {
      content: "+grid-media($bp_3200)"; } }
  @media only screen and (min-width: 3300px) {
    .debug:before {
      content: "+grid-media($bp_3300)"; } }

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #5B80A1;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #496681;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(91, 128, 161, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #5B80A1; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #5B80A1;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(91, 128, 161, 0.7);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(91, 128, 161, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #858585; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #858585; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(91, 128, 161, 0.6);
  outline-offset: 2px; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #5B80A1;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease; }
  a:hover {
    color: #446079; }
  a:focus {
    outline: 3px solid rgba(91, 128, 161, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.row, nav.nav .menu {
  max-width: 1200px;
  margin: auto; }
  .row::after, nav.nav .menu::after {
    clear: both;
    content: "";
    display: block; }
  .row .col, nav.nav .menu .col {
    width: calc(100% - 30px);
    float: left;
    margin-left: 15px; }

section#content {
  width: calc(100% - 30px);
  float: left;
  margin-left: 15px; }
  @media only screen and (min-width: 700px) {
    section#content.narrow {
      width: calc(83.3333333333% - 27.5px);
      float: left;
      margin-left: 15px;
      margin-left: calc(8.3333333333% - 16.25px + 30px); } }

#content .row, #content nav.nav .menu, nav.nav #content .menu {
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px); }
  #content .row.cols-3 .col, #content nav.nav .cols-3.menu .col, nav.nav #content .cols-3.menu .col {
    width: calc(100% - 30px);
    float: left;
    margin-left: 15px; }
    @media only screen and (min-width: 900px) {
      #content .row.cols-3 .col, #content nav.nav .cols-3.menu .col, nav.nav #content .cols-3.menu .col {
        width: calc(33.3333333333% - 20px);
        float: left;
        margin-left: 15px; } }

#wash-packages-comparison {
  width: calc(100% - 30px);
  float: left;
  margin-left: 15px;
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px); }
  #wash-packages-comparison .package {
    width: calc(100% - 30px);
    float: left;
    margin-left: 15px; }
    @media only screen and (min-width: 700px) {
      #wash-packages-comparison .package {
        width: calc(25% - 18.75px);
        float: left;
        margin-left: 15px; } }

.add-column {
  width: calc(100% - 30px);
  float: left;
  margin-left: 15px; }
  @media only screen and (min-width: 700px) {
    .add-column {
      width: calc(66.6666666667% - 25px);
      float: left;
      margin-left: 15px;
      left: calc(-25% - 11.25px + 15px);
      position: relative; } }

aside {
  width: calc(100% - 30px);
  float: left;
  margin-left: 15px; }
  @media only screen and (min-width: 700px) {
    aside {
      width: calc(25% - 18.75px);
      float: left;
      margin-left: 15px;
      left: calc(75% - 26.25px + 15px);
      position: relative; } }

footer::after {
  clear: both;
  content: "";
  display: block; }

footer p {
  width: calc(100% - 30px);
  float: left;
  margin-left: 15px; }

header#main-header {
  padding-top: 15px; }
  header#main-header .logo {
    width: calc(50% - 22.5px);
    float: left;
    margin-left: 15px; }
    header#main-header .logo a {
      width: 118px;
      display: inline-block; }
  header#main-header .header-contact-info {
    width: calc(50% - 22.5px);
    float: left;
    margin-left: 15px;
    text-align: right; }
    header#main-header .header-contact-info .header-element {
      vertical-align: middle; }
    header#main-header .header-contact-info address {
      display: none; }
      @media only screen and (min-width: 600px) {
        header#main-header .header-contact-info address {
          display: inline-block;
          padding: 0 1rem 1rem 0; } }

nav.nav {
  background-color: #373C3A; }
  nav.nav .phone-number {
    display: none; }
  nav.nav .menu-icon {
    display: none; }
  nav.nav .menu ul {
    width: calc(100% - 30px);
    float: left;
    margin-left: 15px;
    text-align: center; }
  nav.nav .menu li {
    display: inline-block;
    font-size: 10px;
    font-size: 0.625rem; }
    nav.nav .menu li a {
      display: block;
      background-color: #373C3A;
      color: #fff;
      text-transform: uppercase;
      padding: 1rem .3rem;
      text-decoration: none;
      font-weight: bold; }
  @media only screen and (min-width: 800px) {
    nav.nav .menu ul {
      text-align: left; }
    nav.nav .menu li {
      font-size: 14px;
      font-size: 0.875rem;
      border-left: 1px solid #4f5754; }
      nav.nav .menu li:last-child {
        border-right: 1px solid #4f5754; }
      nav.nav .menu li a {
        padding: 1rem 2rem; } }

#feature-image img {
  max-width: none;
  width: 100%;
  display: block; }

#homepage-intro {
  background-color: #5B80A1;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  #homepage-intro .column {
    width: calc(100% - 30px);
    float: left;
    margin-left: 15px;
    text-align: center; }
    #homepage-intro .column * {
      color: #fff; }
  #homepage-intro .lead-in {
    font-weight: bold;
    font-size: 18px;
    font-size: 1.125rem;
    position: relative;
    display: inline-block; }
    #homepage-intro .lead-in:before, #homepage-intro .lead-in:after {
      display: block;
      content: "";
      top: .8rem;
      background-color: #7b99b4;
      width: 30px;
      height: 3px;
      position: absolute;
      left: -45px; }
    #homepage-intro .lead-in:after {
      left: auto;
      right: -45px; }
  #homepage-intro h1 {
    font-weight: bold;
    margin: 0;
    font-size: 34px;
    font-size: 2.125rem; }
  #homepage-intro p {
    margin: 0;
    font-style: italic;
    font-size: 18px;
    font-size: 1.125rem; }
  @media only screen and (min-width: 900px) {
    #homepage-intro {
      padding-top: 4rem;
      padding-bottom: 4rem; }
      #homepage-intro .column {
        width: calc(66.6666666667% - 25px);
        float: left;
        margin-left: 15px;
        margin-left: calc(16.6666666667% - 17.5px + 30px); }
      #homepage-intro .lead-in {
        font-size: 24px;
        font-size: 1.5rem; }
        #homepage-intro .lead-in:before, #homepage-intro .lead-in:after {
          top: 1rem; }
      #homepage-intro h1 {
        font-size: 5vw; }
      #homepage-intro p {
        font-size: 26px;
        font-size: 1.625rem; } }

.flex-boxes, #wash-packages-comparison {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .flex-boxes::after, #wash-packages-comparison::after {
    clear: both;
    content: "";
    display: block; }
  .flex-boxes .flex-box, #wash-packages-comparison .flex-box, #wash-packages-comparison .package {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    background: #f7f6f6;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e5e5;
            box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e5e5;
    display: block;
    -webkit-box-flex: 2;
        -ms-flex: 2 2 15em;
            flex: 2 2 15em;
    margin: 0.4em;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .flex-boxes .flex-box:nth-child(1), #wash-packages-comparison .flex-box:nth-child(1), #wash-packages-comparison .package:nth-child(1) {
      border-top: 6px solid tomato; }
      .flex-boxes .flex-box:nth-child(1):focus, #wash-packages-comparison .flex-box:nth-child(1):focus, #wash-packages-comparison .package:nth-child(1):focus, .flex-boxes .flex-box:nth-child(1):hover, #wash-packages-comparison .flex-box:nth-child(1):hover, #wash-packages-comparison .package:nth-child(1):hover {
        background-color: rgba(255, 99, 71, 0.1); }
    .flex-boxes .flex-box:nth-child(2), #wash-packages-comparison .flex-box:nth-child(2), #wash-packages-comparison .package:nth-child(2) {
      border-top: 6px solid #72BFBF; }
      .flex-boxes .flex-box:nth-child(2):focus, #wash-packages-comparison .flex-box:nth-child(2):focus, #wash-packages-comparison .package:nth-child(2):focus, .flex-boxes .flex-box:nth-child(2):hover, #wash-packages-comparison .flex-box:nth-child(2):hover, #wash-packages-comparison .package:nth-child(2):hover {
        background-color: rgba(114, 191, 191, 0.1); }
    .flex-boxes .flex-box:nth-child(3), #wash-packages-comparison .flex-box:nth-child(3), #wash-packages-comparison .package:nth-child(3) {
      border-top: 6px solid #92B1E3; }
      .flex-boxes .flex-box:nth-child(3):focus, #wash-packages-comparison .flex-box:nth-child(3):focus, #wash-packages-comparison .package:nth-child(3):focus, .flex-boxes .flex-box:nth-child(3):hover, #wash-packages-comparison .flex-box:nth-child(3):hover, #wash-packages-comparison .package:nth-child(3):hover {
        background-color: rgba(146, 177, 227, 0.1); }
    .flex-boxes .flex-box:nth-child(4), #wash-packages-comparison .flex-box:nth-child(4), #wash-packages-comparison .package:nth-child(4) {
      border-top: 6px solid #E3D743; }
      .flex-boxes .flex-box:nth-child(4):focus, #wash-packages-comparison .flex-box:nth-child(4):focus, #wash-packages-comparison .package:nth-child(4):focus, .flex-boxes .flex-box:nth-child(4):hover, #wash-packages-comparison .flex-box:nth-child(4):hover, #wash-packages-comparison .package:nth-child(4):hover {
        background-color: rgba(227, 215, 67, 0.1); }
    .flex-boxes .flex-box:nth-child(5), #wash-packages-comparison .flex-box:nth-child(5), #wash-packages-comparison .package:nth-child(5) {
      border-top: 6px solid #CCC; }
      .flex-boxes .flex-box:nth-child(5):focus, #wash-packages-comparison .flex-box:nth-child(5):focus, #wash-packages-comparison .package:nth-child(5):focus, .flex-boxes .flex-box:nth-child(5):hover, #wash-packages-comparison .flex-box:nth-child(5):hover, #wash-packages-comparison .package:nth-child(5):hover {
        background-color: rgba(204, 204, 204, 0.1); }
    .flex-boxes .flex-box:nth-child(6), #wash-packages-comparison .flex-box:nth-child(6), #wash-packages-comparison .package:nth-child(6) {
      border-top: 6px solid #F6C05C; }
      .flex-boxes .flex-box:nth-child(6):focus, #wash-packages-comparison .flex-box:nth-child(6):focus, #wash-packages-comparison .package:nth-child(6):focus, .flex-boxes .flex-box:nth-child(6):hover, #wash-packages-comparison .flex-box:nth-child(6):hover, #wash-packages-comparison .package:nth-child(6):hover {
        background-color: rgba(246, 192, 92, 0.1); }
    .flex-boxes .flex-box img, #wash-packages-comparison .flex-box img, #wash-packages-comparison .package img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4; }
    .flex-boxes .flex-box .flex-title, #wash-packages-comparison .flex-box .flex-title, #wash-packages-comparison .package .flex-title, #wash-packages-comparison .package h2 {
      color: rgba(51, 51, 51, 0.7);
      font-size: 1.2em;
      margin-bottom: 0.5em; }
    .flex-boxes .flex-box p, #wash-packages-comparison .flex-box p, #wash-packages-comparison .package p {
      color: rgba(51, 51, 51, 0.6);
      line-height: 1.5em;
      margin: auto; }
  .flex-boxes .flex-box-big, #wash-packages-comparison .flex-box-big {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40em;
            flex: 1 1 40em; }

.wrapper {
  overflow: hidden; }

body, div, h1, h2, h3, h4, h5, h6, p, li, td, th, * {
  font-weight: 400;
  color: #737477; }

body {
  background-color: #F6F6F6;
  font-size: 90%; }

@media only screen and (min-width: 900px) {
  .white-box {
    background-color: #FFF;
    padding-bottom: 1rem; } }

h1 {
  font-size: 26px;
  font-size: 1.625rem;
  padding-bottom: 0;
  margin-bottom: 0; }
  @media only screen and (min-width: 700px) {
    h1 {
      font-size: 32px;
      font-size: 2rem; } }
  @media only screen and (min-width: 900px) {
    h1 {
      padding-bottom: 20px;
      margin-bottom: 40px; } }

h2 {
  margin: 0 0 .5rem 0;
  text-transform: none;
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem; }

#content {
  margin-bottom: 3rem; }
  #content p {
    line-height: 1.6;
    margin: 1rem 0; }
    #content p.intro {
      font-size: 16px;
      font-size: 1rem; }
      @media only screen and (min-width: 700px) {
        #content p.intro {
          font-size: 20px;
          font-size: 1.25rem; } }
  #content p, #content li, #content dl {
    max-width: 950px; }
  #content p.footnotes {
    margin-bottom: 3rem;
    color: #999;
    font-style: italic;
    line-height: 1.6; }
  #content h1 {
    font-weight: bold;
    border-bottom: 4px solid #eee; }

p strong {
  font-weight: 800; }

#inside {
  padding-top: 2rem; }

.menu-icon {
  display: inline-block;
  float: right;
  margin-top: 1.5rem; }
  @media only screen and (min-width: 900px) {
    .menu-icon {
      display: none; } }

.overlay {
  display: none; }

.activate {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: hidden; }
  .activate body {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    padding-top: 74px; }
  .activate .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    -webkit-transition-duration: .3s;
            transition-duration: .3s; }
  .activate header#main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFF; }
    .activate header#main-header nav.nav .menu {
      position: absolute;
      display: block;
      z-index: 999;
      background-color: #FFF;
      right: 0;
      top: 74px; }
      .activate header#main-header nav.nav .menu ul li {
        display: block;
        border-top: 1px solid #e8e8e8;
        margin: 0;
        padding: 0; }
        .activate header#main-header nav.nav .menu ul li a {
          padding: 1rem 20px;
          display: block; }

.show-nav header#main-header nav.nav .menu {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.show-nav .overlay {
  opacity: 1; }

section#secondary {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #EFF7FD; }
  @media only screen and (min-width: 900px) {
    section#secondary figure {
      display: none; } }
  section#secondary .content {
    width: calc(100% - 30px);
    float: left;
    margin-left: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media only screen and (min-width: 900px) {
      section#secondary .content {
        width: calc(50% - 22.5px);
        float: left;
        margin-left: 15px;
        margin-left: calc(50% - 22.5px + 30px);
        padding-top: 6rem;
        padding-bottom: 6rem; } }

.button, .red-button, .post-edit-link, caption a {
  color: #fff;
  background-color: #5987B0;
  display: inline-block;
  padding: 10px 2rem;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 1rem; }

section#content {
  padding: 0 0; }
  @media only screen and (min-width: 900px) {
    section#content {
      padding: 0 40px; } }

footer {
  text-align: center;
  margin: 0;
  padding-bottom: 2rem; }
  footer .copyright {
    padding-top: 2rem;
    width: calc(100% - 30px);
    float: left;
    margin-left: 15px;
    border-top: 1px solid #e8e8e8;
    margin-bottom: 0; }

.description {
  margin-bottom: 4rem; }
  .description ul {
    margin-bottom: 2rem; }

#content .row.cols-3 .col h2.box, #content nav.nav .cols-3.menu .col h2.box, nav.nav #content .cols-3.menu .col h2.box {
  display: block; }
  @media only screen and (min-width: 900px) {
    #content .row.cols-3 .col h2.box, #content nav.nav .cols-3.menu .col h2.box, nav.nav #content .cols-3.menu .col h2.box {
      display: block;
      padding: 1rem;
      text-align: left; } }

@media only screen and (min-width: 900px) {
  #content .row.cols-3 .col .description, #content nav.nav .cols-3.menu .col .description, nav.nav #content .cols-3.menu .col .description {
    padding-left: 1rem; } }

.red-button, .post-edit-link, caption a {
  display: inline-block;
  background-color: #F35344;
  border-radius: 3px; }
  .red-button:hover, .post-edit-link:hover, caption a:hover {
    color: #fff;
    background-color: #f67f74; }

h2 .post-edit-link {
  display: inline-block;
  font-size: 10px;
  font-family: "Noto Sans", sans-serif;
  padding: .3rem .5rem;
  line-height: 1;
  float: right; }

.page-edit-link {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999; }

caption {
  background-color: #F6F6F6 !important; }

#tablepress-1 .column-1 {
  width: 50%;
  font-weight: 800;
  padding-left: 20px; }

.dataTables_wrapper {
  margin-left: -20px;
  margin-right: -20px;
  background-color: #FFF; }

dt {
  margin: 1rem 0; }

dd {
  margin: 0 0 2rem 0;
  display: block; }

aside h3 {
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: .5rem;
  margin-bottom: 1rem; }

aside ul {
  list-style: disc;
  padding-left: 1.2rem; }

aside li {
  margin-bottom: .5rem; }

aside a {
  font-weight: bold;
  font-size: .8rem; }

.show-global-hours .global-hours {
  display: block; }

.global-hours {
  display: none;
  width: 300px;
  position: absolute;
  background-color: #eee;
  padding: 0;
  border: 1px solid #ccc;
  right: 1rem;
  top: 5rem;
  z-index: 8;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  text-align: left; }
  .global-hours h3 {
    background-color: #666;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    padding: .5rem 1rem; }
  .global-hours .table {
    padding: 0 1rem; }

.button-link {
  display: inline-block; }
  .button-link a {
    display: inline-block;
    background-color: #5B80A1;
    color: #fff;
    padding: 0 1rem;
    border-radius: 30px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    font-size: 0.625rem; }

strike {
  color: #ccc; }

@media only screen and (min-width: 900px) {
  .logo a {
    margin-left: 2rem; } }
