@import "parts/variables"
@import "bourbon/bourbon.scss"
@import "neat/neat.scss"
@import "parts/mixins.scss"
@import "parts/typography"
@import "parts/debug"
$desktop_padding: 40px
$mobile_padding: 0
$blue: #5B80A1
$black: #373C3A
@import "bitters/base.scss"
@import "parts/buttons"
@import "parts/defaults"
@import "parts/layout"
@import "parts/header"
@import "parts/flexbox"
@import "parts/type"
@import "parts/wash-packages-comparison"
@import "parts/footer"
@import "parts/aside"
@import "parts/global-hours"
@import "parts/admin"

#inside
  padding-top: 2rem

#content
  padding: 0 $mobile_padding
  +grid-media($bp_900)
    padding: 0 $desktop_padding
  .row





#tablepress-1
  .column-1
    width: 50%
    font-weight: 800
    padding-left: 20px
.dataTables_wrapper
  margin-left: -20px
  margin-right: -20px
  background-color: #FFF




.screen-reader-response
  font-weight: bold
  color: #f35344
  ul
    display: none
.wpcf7-not-valid-tip
  background-color: #fbe187
  +fontSize(12px)
  float: right
  margin-top: -1rem
  border-radius: 4px
  display: inline-block
  padding: 6px
  font-family: $sans-serif
  font-style: normal