
.contact-form
  .your-name, .your-email
      input
        +grid-media($bp_800)
          width: 65%
.screen-reader-response
  font-weight: bold
  color: #f35344
  ul
    display: none
.wpcf7-not-valid-tip
  background-color: #fbe187
  +fontSize(12px)
  float: right
  margin-top: -1rem
  border-radius: 4px
  display: inline-block
  padding: 6px
  font-family: $sans-serif
  font-style: normal