$neat-grid: ( columns: 12, gutter: 15px )

.row
  +grid-container
  max-width: 1200px
  margin: auto
  .col
    +grid-column(12)

section#content
  +grid-column(12)
  &.narrow
    +grid-media($bp_700)
      +grid-column(10)
      +grid-push(1)

#content
  .row
    +grid-collapse
    &.cols-3 .col
      +grid-column(12)
      +grid-media($bp_900)
        +grid-column(4)

#wash-packages-comparison
  +grid-column
  +grid-collapse
  .package
    +grid-column(12)
    +grid-media($bp_700)
    	+grid-column(3)

.add-column
  +grid-column(12)
  +grid-media($bp_700)
    +grid-column(7)
    +grid-shift(-4)
  +grid-media($bp_1000)
    +grid-column(8)
    +grid-shift(-3)
    margin-left: 15px
aside
  +grid-column(12)
  +grid-media($bp_700)
    +grid-column(4)
    +grid-shift(8)
  +grid-media($bp_1000)
    +grid-column(3)
    +grid-shift(9)

footer
  +grid-container
  p
    +grid-column(12)

#content
  padding: 0 $mobile_padding
  +grid-media($bp_900)
    padding: 0 $desktop_padding
#inside
  padding-top: 2rem
