h2.wash-packages
  color: #fff
  padding: 1rem
  margin-left: -1rem
  margin-right: -1rem
  background-color: $black
  font-weight: 900
  text-align: center
  +grid-media($bp_900)
    text-align: left
    margin-left: 0
    margin-right: 0
    background-color: $blue
#wash-packages-comparison
  @extend .flex-boxes
  .package
    @extend .flex-box
    text-align: left
    padding: 0
    h2
      @extend .flex-title
      padding: 1rem 0 1rem $desktop_padding/3
      margin: 0
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2061.25%2068.69%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fadf8d%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Estar%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M37.63%2043.38c-.7-2.31-.16-2.95%202.27-2.65l21.35%202.54-20.44-8.69c-.88-.35-1.64-.83-1.29-1.94a3.07%203.07%200%200%201%20.85-1.12l19.3-18.83L36.19%2026.6c-1.72%201.05-2.61.63-2.83-1.36L30.06%200l-2.72%2025c-.26%202.33-1%202.7-3%201.46L0%2011.6l20.45%2019.72c1.66%201.65%201.5%202.52-.65%203.38l-17.47%207%2018.82-1.1c2.17-.23%202.76.5%201.95%202.52l-6.77%2017.23%2012.4-14.91c1.1-1.37%202.12-1.3%203%20.18l14%2023.06-8.1-25.3%22%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
      background-repeat: no-repeat
      background-position: 50%
      text-align: center
      line-height: 1
      span
        text-transform: uppercase
        font-weight: 900 !important
        display: block
        +fontSize(20px)
        &.title
          +fontSize(30px)
          color: $black

    ul
      padding: 0
    li.y
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M9%2016.17L4.83%2012l-1.42%201.41L9%2019%2021%207l-1.41-1.41z%22%2F%3E%3C%2Fsvg%3E')
    li
      border-top: 1px solid #fff
      background-color: darken(#f0efef, 2)
      background-repeat: no-repeat
      background-position: $desktop_padding/4 $desktop_padding/3
      padding: 1rem .5rem 1rem $desktop_padding